.radio-btn {
  margin-left: 8px;
  font-weight: 700;
}

.align-Field {
  margin-top: -10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matCardService {
  width: 550px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
}

.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: none;
}

mat-card-actions {
  display: block;
  float: right;
}
.mat_form_field_width ::ng-deep .mat-mdc-text-field-wrapper {
  padding-right: unset !important;
}
.mat-form-field-width{
  width:185%;
}

@media screen  and (min-width:768px) and (max-width:1024px) {
    
}
@media screen  and (min-width:360px) and (max-width:430px) {
  
  .matCardService {
    width: 354px !important;
    
}
.radio-btn {
  margin-left: unset !important;
  font-weight: unset !important;
}
.mat-form-field-width{
  width:180%;
}
}

